{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Header Section -->
<header class="container text-center my-5">
    <h1>Welcome to Creative Star</h1>
    <p class="lead">Discover and share your AI-generated creations!</p>
    <div class="gallery mt-4">
        <!-- Hero Image -->
        <img src="{% static 'images/home_page.png' %}" alt="Home Page" class="img-fluid rounded">
    </div>
    <div class="mt-4">
        <!-- Call-to-Action Button -->
     
</header>



<!-- Main Section -->
<main class="container my-5 text-center">
    <p class="lead">Explore the limitless possibilities of AI imagination. Get started today!</p>
</main>
{% endblock %}

