{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <h2 class="text-center">Log In</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Log In</button>
        </form>
        <div class="login-links">
            <p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up</a></p>
            <p><a href="{% url 'account_reset_password' %}">Forgot Password?</a></p>
        </div>
    </div>
</div>
{% endblock %}


